<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Obesity Prediction</title>
    <link  href="static/css/style.css" rel="stylesheet" type="text/css">
</head>
<body>
<div class="wrap">
    <div class="header"><h1>Obesity Risk Prediction Using Machine Learning Techniques</h1></div>
		<nav class="nav">
            <ul>
                <li><a href="{{ url_for('home') }}"><span>HOME</span></a></li>
                <li><a href="{{ url_for('admin_bp.admin') }}">ADMIN</a></li>
                <li><a href="{{ url_for('user_bp.user') }}">USER</a></li>
            </ul>
        </nav>